<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Your booking for flight <%= @flight.number %>:</h3>
    <ul>
      <li>Departing from: <%= "#{@flight.departure_airport[:city]} (#{@flight.departure_airport[:code]}) on #{@flight.departure_date_formatted} at #{@flight.departure_time_formatted}" %></li>
      <li>Arriving in: <%= "#{@flight.arrival_airport[:city]} (#{@flight.arrival_airport[:code]}) on #{@flight.arrival_date_formatted} at #{@flight.arrival_time_formatted}" %></li>
      <li>Flight duration: <%= @flight.duration_formatted %></li>
    </ul>
  </body>
</html>
