<h1>Booking</h1>

<p>Flight</p>
<%= render partial: "shared/flight_info", locals: {flight: @booking.flight} %>

<%= @booking.passengers.length > 1 ? "Passengers" : "Passenger" %>
<% @booking.passengers.map do |passenger| %>
  <ul>
    <li><%= "#{passenger[:name]}, #{passenger[:email]}" %></li>
  </ul>
<% end %>
