<div class="bookings-show">
  <h1>Booking Information</h1>
  
  <h3>Flight</h3>
  <%= render partial: "shared/flight_info", locals: {flight: @booking.flight} %>

  <% if @booking.passengers.length > 1 %>
    <h3>Passengers</h3>
  <% else %>
    <h3>Passenger</h3>
  <% end %>

  <div class="passengers">
    <% @booking.passengers.map do |passenger| %>
      <ul>
        <li><%= "#{passenger[:name]}, #{passenger[:email]}" %></li>
      </ul>
    <% end %>
  </div>
</div>
