.bookings-new .passengers-form {
  background-color: white;
  margin: 10px 0;
  padding: 10px 20px;
  border: solid 1px lightgrey;
  border-radius: 8px;
  box-shadow: 0 3px 3px lightgrey;
}

.bookings-new .passengers-form li {
  margin-top: 10px;
  display: flex;
  gap: 30px;
}
